#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator-container {
  width: 320px;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(83, 79, 72);
  border-radius: 10px;
  color: antiquewhite;
}
.header-bar{
  display: flex;
  justify-content: space-between;
  background-color: #3b3b3b;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
}
.icon-bar{
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-left: 20px;
}
.icon-bar img {
  width: 20px; /* Adjust size as needed */
  height: auto;
}
.name-bar {
  width: 100%;
  
}

.top-bar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-top: 10px;
}

.display {
  width: 80%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.history {
  height: 30%;
}

.history {
  white-space: pre-wrap;
  /* Ensures that newline characters are respected */
  overflow-wrap: break-word;
  /* Allows long lines to be broken and wrapped */
}

.result {
  font-size: 45px;
}

.calculator-top-row {
  display: flex;
  align-items: center;
  justify-items: center;

}

.single-button {
  width: 75px;
  height: 55px;
  margin: 2px;
  background-color: #3b3b3b;
  border: none;

}

.calculator-top-row .single-button {
  background-color: transparent;
  width: 35px;
  height: 25px;
  border-radius: 7px;
  border: none; 
  cursor: pointer;
}

/* Add a white border when the div is pressed */
.calculator-top-row .single-button:active {
  border: 2px solid white;
}

.single-button:hover {
  background-color: #323232;
}


.single-button:hover {
  background-color: #323232;
}

